<header class="site-header px-responsive">
  <div class="measure container px-responsive">
    <a class="site-logo" href="/">
      {% include image.html class="site-logo-img" src="logo.png" alt="Site Logo" %}
    </a>
    <a class="site-title-img" href="/">
      {% include image.html class="site-title-img" src="title.png" alt="Silas Reinagel Text" %}
    </a>

    <a class="mobile-hidden mobile-right" href="/about.html">
      {% include image.html class="site-face-img mobile-hidden mobile-right" src="/face.jpg" alt="Profile Photo" %}
    </a>

    {% if site.show_social_icons %}
      {% include social_links.html %}
    {% endif %}
  </div>

  <nav class="measure site-header-bar nav stroke" role="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all">All Posts</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
