<header class="site-header px-responsive">
  <div class="measure container px-responsive">
    <a class="site-logo" href="/index.html">
      <img class="site-logo-img" src="/images/logo.png" alt="Site Logo"/>
    </a>
    <a class="site-title-img" href="/index.html">
      <img class="site-title-img" src="/images/title.png" alt="Silas Reinagel Text"/>
    </a>

    <a class="mobile-hidden mobile-right" href="/about.html">
      <img class="site-face-img mobile-hidden mobile-right" src="/images/face.jpg" alt="Profile Photo"/> 
    </a>

    {% if site.show_social_icons %}
      {% include social_links.html %}
    {% endif %}
  </div>

  <nav class="measure site-header-bar nav stroke" role="navigation">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/all">All Posts</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
