{% if paginator.total_pages != 1 %}
<div class="measure">
  <div class="pagination container mt3">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="" href="{{ site.baseurl }}/">
          <img class="arrow" src="/images/arrow-left.png"></img>
        </a>
      {% else %}
        <a class="" href="{{ paginator.previous_page_path }}"> 
          <img class="arrow" src="/images/arrow-left.png"></img>
        </a>
      {% endif %}
    {% else %}
        <img class="arrow disabled" src="/images/arrow-left.png"></img>
    {% endif %}

    {% if paginator.next_page %}
      <a class="ml3rd" href="{{ paginator.next_page_path }}">        
          <img class="arrow" src="/images/arrow-right.png"></img>
      </a>
    {% else %}
      <img class="arrow disabled ml3rd" src="/images/arrow-right.png"></img>
    {% endif %}
  </div>
</div>
{% endif %}
