@font-face {
    font-family: "Gothic";
    src: url('/fonts/handel-gothic-bt.ttf'),
}

.gothic {
    font-family: 'Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
