.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  margin-top: 35px;
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: 2em 0;
  text-align: center;
}

.site-footer p {
  font-family: $heading-font-family;
  font-weight: 600;
  letter-spacing: 1px;
}

.copyright {
  font-size: 0.70rem;
  text-align: center;
  margin: auto, 1rem;
}

.row-items {
  background: none;
}
.row-items ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  padding: 0px 80px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.row-items ul li {
  opacity: 0.8;
  text-decoration: none;
  color: $site-bg-color;
}
.row-items ul li a {
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px;
}
.row-items ul li a,
.row-items ul li a:after,
.row-items ul li a:before {
  transition: all .2s;
}
.row-items ul li a:hover {
  opacity: 1;
}

.row-items ul li a {
  display: flex;
  align-content: center;
  justify-content: center;
}