.site-header-img {
  width: auto;
  height: 100px;
  margin: 5px 20px;
}

.site-title-img {
  max-height: 95px;
  margin: auto;
}

.site-face-img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 5px 20px;
}


.site-header {  
	max-width: 100%;
	background: $header-bg-color;
  padding-top: $space-2;
  padding-bottom: $space-2;
}

.site-header {
  margin-top: 1em;
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}

.site-header a {
  background-image: none;
  background-color: $header-bg-color;
  border-bottom: $header-border-bottom;
  color: $header-color;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  padding: $header-padding;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #666;
}

.site-header-bar {  
  max-height: 60px;
  background-color: $inner-bg-color;
}

.site-header-bar nav a:hover,
.site-header-bar nav a:focus,
.site-header-bar nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

.site-header-bar a {
  background-image: none;
  color: $header-color;
  background-color: $inner-bg-color;
  border-bottom: $header-border-bottom;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

