.site-header {
  background-image: url("https://silasreinagel.sirv.com/SilasReinagelBlog/site-header-bg.jpg");
  width: 100vw;
}

.site-footer {
  background-image: url("https://silasreinagel.sirv.com/SilasReinagelBlog/site-header-bg.jpg");
  width: 100vw;
}
