.index .title {
  text-align: center;
}

.index h1 {
  font-weight: $heading-font-weight;
}

.index h3 {
  margin: .25em 0 -.25em 0;
}

.index p {
  margin-left: 1em;
}

.body-content {
  min-height: 80vh;
}