.landing a {
  border-bottom: $header-border-bottom;
  color: #fff;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
}

.landing a:hover {
  background-image: none;
  opacity: 0.88;
}

.no-bg {
  background-color: none !important;
}

.dark-bg div {
  background-color: rgba(0, 0, 0, 0.50);
}

.light-bg div {
  background-color: $site-bg-color;
}

.landing .featured-post a {
  border-color: #888888;
  border-width: 2px;
}
.landing .featured-post a:hover {
  border-color: #5588ce;
}

.dark-bg div:hover,
.dark-bg a:hover {  
  background-color: rgba(0.50, 0.50, 0.50, 0.60);
}

.read-more {
  text-align: center;
  opacity: 0.8;
  color: $light-gray;
  font-weight: $bold-font-weight;
  font-size: 0.6em;
  margin-top: 1.8em;
  margin-bottom: -0.6em;
}

.card .post a {
  color: $blue;
}