.landing {
  background-image: url("/images/site-bg.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landing a {
  border-bottom: $header-border-bottom;
  color: #fff;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
}

.landing a:hover {
  background-image: none;
  opacity: 0.88;
}

.no-bg {
  background-color: none !important;
}

.dark-bg div {
  background-color: rgba(0, 0, 0, 0.50);
}

.dark-bg div:hover,
.dark-bg a:hover {  
  background-color: rgba(0.50, 0.50, 0.50, 0.60);
}
